<div id="login">

    <h1 id="welcome-text"><em>PEDAL</em></h1>
    <br>

    <form id="login-form" {{action 'submitLoginForm' on='submit'}}> 
      {{input id='identification' placeholder="Email" value=identification}}
      <br>
      {{input id='password' type="password" placeholder="Password" value=password}}
      <br><br>
      <button class="btn btn-secondary" type="submit">Login</button>
    </form>

  </div>

{{yield}}
