<h2>All Your Rides!!</h2>

<ul>
  {{#each model as |ride|}}
    <li>{{#link-to 'rides.ride' ride}}{{ride.name}}{{/link-to}}
{{ride.date}}</li>
  {{/each}}
</ul>

<p>{{#link-to 'rides.new'}}Create a New Ride{{/link-to}}</p>


{{outlet}}