<body>

    <div class="outer">
      
      <!-- Sidebar starts -->
      <div class="sidebar">
      
        <div class="sidey">
      
          <!-- Logo -->
          <div class="logo">
            <h1><a href="index.html"><i class="fa fa-desktop br-red"></i> Pedal <span>Live to Bike </span></a></h1>
          </div>
          
          <!-- Sidebar navigation starts -->
          
          <!-- Responsive dropdown -->
          <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i></a></div>
          
          <div class="side-nav">
          
            <div class="side-nav-block">
              <!-- Sidebar heading -->
              <h4>Cyclist_Name_Here</h4>
              <!-- Sidebar links -->
              <ul class="list-unstyled">
                <li><a href="index.html"><i class="fa fa-desktop"></i> Profile</a></li>
                <li><a href="widgets.html"><i class="fa fa-bullseye"></i> All My Rides </a></li>
                
                <!-- Mainmenu with submenu -->
                
                
                <!-- Mainmenu with submenu -->
                
                <!-- Mainmenu with submenu -->
                
              </ul>
            </div>
            
            <div class="side-nav-block">
              <h4>You are viewing Team: [team dropdown here]</h4>
              <ul class="list-unstyled">
                <li><a href="404.html"><i class="fa fa-times"></i> Team Page</a></li>
                <li>{{#link-to 'cyclists'}}<i class="fa fa-desktop"></i> Team Members{{/link-to}}</li>
                <li><a href="login.html"><i class="fa fa-sign-in"></i> Team Rides</a></li>
              </ul>
            </div>
            
            
          </div>
          
          <!-- Sidebar navigation ends -->
          
        </div>
      </div>
      <!-- Sidebar ends -->
      
      <!-- Mainbar starts -->
      <div class="mainbar">
      
        <!-- Mainbar head starts -->
        <div class="main-head">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <!-- Page title -->
                <h2>Page Title</h2>
              </div>
              
              <div class="col-md-3 col-sm-4 col-xs-6">
                <!-- Search block -->
                <!-- <div class="head-search">
                  <form class="form" role="form">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </form>
                </div> -->
              </div>
              
              <div class="col-md-3 col-sm-4 hidden-xs">
                <!-- Notifications -->
                <!-- <div class="head-noty text-center"> </div> -->
                <div class="clearfix"></div>
              </div>
              
              
              <div class="col-md-3 hidden-sm hidden-xs">
                <!-- Head user -->
                <div class="head-user dropdown pull-right">
                  <a href="#" data-toggle="dropdown" id="profile">
                    <!-- Icon 
                    <i class="fa fa-user"></i>  -->
                    
                    <img src="img/user2.png" alt="" class="img-responsive img-circle"/>
                    
                    <!-- User name -->
                    ashokram <span class="label label-danger">5</span> 
                    <i class="fa fa-caret-down"></i> 
                  </a>
                  <!-- Dropdown -->
                  <ul class="dropdown-menu" aria-labelledby="profile">
                      <li><a href="#">View/Edit Profile <span class="badge badge-info pull-right">6</span></a></li>
                    <li><a href="#">Change Settings</a></li>
                    <li><a href="#">Messages <span class="badge badge-danger pull-right">5</span></a></li>
                    <li><a href="#">Sign Out</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>  
          </div>
          
        </div>
        
        <!-- Mainbar head ends -->
        
        <div class="main-content">
          <div class="container">
                    
            <div class="page-content">
            
              <!-- Heading -->
              <div class="single-head">
                <!-- Heading -->
                <div class="clearfix"></div>


              </div>
                {{outlet}}



              
            </div>
            
          </div>
        </div>
        
      </div>
      <!-- Mainbar ends -->
      
      <div class="clearfix"></div>

    </div>

</body>
